<h1 class="fontItalic">Welcome to MoviePedia</h1>
<h4 class="fontSquare">Movies recommended by our users</h4>

<div class="center carousel">
  <% movies.forEach(movie => { %>
    <div>
    <a href="/movies/<%= movie._id %>" class="movieName fontSquare movieText"><%= movie.name %></a>
    <a  href="/movies/<%= movie._id %>"><img class="showImg" src="<%= movie.image %>"></a>
    <span class="fontSquare text-warning movieText" >Genre: <%= movie.genre %></span>
    <span class="fontSquare text-warning movieText">Title: <%= movie.year %></span>
    </div>

    <% }); %>
  </div> <br>
  <div class="addButton">
    <a href="/movies/new" class="btn btn-primary btn-lg addButton">Add</a>
  </div>
