<div class="container">
  <div id="moviess" class="well">
    <div class="row">
      <div class="col-md-4">
        <img src="<%= movie.image %>" class="thumbnail">
      </div>
      <div class="col-md-8"
      <ul class="list-group">
        <h2 class="fontItalic"><%= movie.name %></h2>
<span><iframe width="100%" height="400" src="https://www.youtube.com/embed/<%= movie.youtubeid %>" frameborder="0" allowfullscreen></iframe></span>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="well">
      <h3 class="fontItalic">Plot</h3>
      <span class="text-warning"><%= movie.description %>
      </span>
      <hr>
      <a href="/movies" class="btn btn-default">Go Back To Moviepedia</a>
    <a href="/movies/<%= movie.id %>/edit" class="btn btn-primary">Edit</a>
    </div>
  </div>
</div>
</div>
